html
  head
    title Workplace Demo
    link(href="/favicon.ico?v=2" rel="icon" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(href="/style.css" rel="stylesheet" type="text/css")
    link(href="/style-sm.css" rel="stylesheet" type="text/css" media="(max-width: 1400px)")
    block head
  body
    .logo
      h1 Workplace 3rd Party App Demo
    #main
      block content
